<a href="https://colab.research.google.com/github/KimyYoungWook/DataScience/blob/main/%EC%84%9C%EC%9A%B8_%EA%B8%B0%EC%98%A8%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

csv 파일 가져오기

In [ ]:
import csv

f = open('/content/Seoul.csv','r')
data =csv.reader(f,delimiter=',')
print(data)
f.close()

<_csv.reader object at 0x7febec72aed0>

In [ ]:
import csv

f = open('/content/Seoul.csv','r',encoding='cp949')
data =csv.reader(f) # delimiter=',' 생략가능 ,가 디폴트값
print(type(data))
for row in data :
  print(row)
f.close()

<class '_csv.reader'>

헤더 저장하기

In [ ]:
import csv
f = open('/content/Seoul.csv','r',encoding='cp949')
data =csv.reader(f) # delimiter=',' 생략가능 ,가 디폴트값
header = next(data) # 첫번재 행을 읽은 후 다음 행으로 이동 시키는 함수
#header1 = next(data) # 두번째 행을 읽은 후 다음 행으로 이동 
print(header)

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

In [ ]:
#헤더를 제외한 데이터 한행씩 출력하기
for row in data :
  print(row)
f.close()

-> 기상 관측 이래, 서울의 최고 기온이 가장 높았던 날은 언제였고 몇도 였을까?<br>
서울 최고기온 가장 높았던날 언제 몇도?

-> 기상 관측 이래, 서울의 평균 기온이 가장 높았던 날은 언제였고 몇도 였을까?
서울 평균기온 가장 높았던날 언제 몇도?

-> 기상 관측 이래, 서울의 최저 기온이 가장 높았던 날은 언제였고 몇도 였을까?
서울 최저기온 가장 높았던날 언제 몇도?

-> 기상 관측 이래, 서울의 평균 기온이 가장 높았던 날은 언제였고 몇도 였을까?
서울 평균기온 가장 높았던날 언제 몇도?