<a href="https://colab.research.google.com/github/KimyYoungWook/DataScience/blob/main/%EC%84%9C%EC%9A%B8%EC%9D%B4_%EA%B0%80%EC%9E%A5_%EB%8D%94%EC%9B%A0%EB%8D%98_%EB%82%A0%EC%9D%80_%EC%96%B8%EC%A0%9C%EC%98%80%EC%9D%84%EA%B9%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

step 1) 데이터 불러서 한행씩 출력하기

In [ ]:
import csv
f = open('/content/Seoul.csv.csv','r',encoding='cp949')
data =csv.reader(f) 
header = next(data) #헤더 추출

for row in data:
  #최고 기온 데이터만 추출
  print(row[-1])
f.close()

step 2) 데이터 중 최고 기온을 실수로 변환하여 한 행씩 출력

In [ ]:
import csv
max_temp = -999 # 최고 기온 값을 저장할 변수 -> 명확한 결과를 위해 극적인 값으로 셋팅
max_data = '' # 최고 기온이 가장 높았던 날짜를 저장하는 변수
f = open('/content/Seoul.csv','r',encoding='cp949')
data =csv.reader(f) 
header = next(data) #헤더 추출

for row in data :
  #최고 기온 데이터가 ''(결측치) 확인
  if row[-1] =='':
    row[-1] = -999 # -999을 넣어서 빈 문자열('')이 있던 자리라고 표시
  row[-1] = float(row[-1])
  print(row)

f.close()

step 3) 최고 기온과 최고 기온이었던 날짜 찾기

In [ ]:
import csv
max_temp = -999 # 최고 기온 값을 저장할 변수 -> 명확한 결과를 위해 극적인 값으로 셋팅
max_data = '' # 최고 기온이 가장 높았던 날짜를 저장하는 변수
f = open('/content/Seoul.csv','r',encoding='cp949')
data =csv.reader(f) 
header = next(data) #헤더 추출

for row in data :
  #최고 기온 데이터가 ''(결측치) 확인
  if row[-1] =='':
    row[-1] = -999 # -999을 넣어서 빈 문자열('')이 있던 자리라고 표시
  row[-1] = float(row[-1])
  # 최고 기온 정보를 저장
  if max_temp < row[-1]: 
    max_temp = row[-1]
    max_date = row[0]
f.close()    
print("기상 관측이래 서울의 최고 기온이 가장 높았던 날은 {}로 {}도 였습니다.".format(max_date,max_temp))

기상 관측이래 서울의 최고 기온이 가장 높았던 날은 2018-08-01로 39.6도 였습니다.

step 4) 최저 기온과 최저 기온이었던 날짜 찾기(스스로 해보기)

In [ ]:
import csv
min_temp = 999 # 최고 기온 값을 저장할 변수 -> 명확한 결과를 위해 극적인 값으로 셋팅
min_data = '' # 최고 기온이 가장 높았던 날짜를 저장하는 변수
f = open('/content/Seoul.csv','r',encoding='cp949')
data =csv.reader(f) 
header = next(data) #헤더 추출

for row in data :
  #최고 기온 데이터가 ''(결측치) 확인
  if row[-2] =='':
    row[-2] = 999 # -999을 넣어서 빈 문자열('')이 있던 자리라고 표시
  row[-2] = float(row[-2])
  # 최고 기온 정보를 저장
  if min_temp > row[-2]: 
    min_temp = row[-2]
    min_date = row[0]
f.close()    
print("기상 관측이래 서울의 최저 기온이 가장 낮았던 날은 {}로 {}도 였습니다.".format(min_date,min_temp))

기상 관측이래 서울의 최저 기온이 가장 낮았던 날은 1927-12-31로 -23.1도 였습니다.

In [ ]:
import csv
f = open('/content/Seoul.csv','r',encoding='cp949')
data =csv.reader(f)
header = next(data)
data_list = list(data)

row_max = [float(i[-1]) for i in data_list if i[-1] != '' ]
row_min = [float(i[-2]) for i in data_list if i[-2] != '' ]
print(max(row_max))
print(min(row_min))

39.6
-23.1